.profile{
    background: linear-gradient(to bottom, rgb(189, 165, 134), #3e2723);
    max-width: 100vw;
    height: fit-content;
    display: flex;
    justify-content: center;
}

.profileDis{
    background: linear-gradient(to bottom, rgb(189, 165, 134), #3e2723);
    max-width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.profileDogs{
    width: 90vw;
    height: fit-content;
    background-color: antiquewhite;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-top: 100px;
}

.title{
    position: relative;
    text-transform: uppercase;
    font-family: wolves;
    font-size: 80px;
}

.mintedNFTs{
    display: flex;
    flex-wrap: wrap;
    padding: 100px;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.nftCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nftCardBtns{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

img{
    width: 300px;
    height: 300px;
    position: relative;
    background-color: aquamarine;
    border: 2px solid #fff;
    border-radius: 10px;
}

.nftName{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    margin: 10px;
    width: 300px;
    text-align: center;
    font-family: wolves;
}

.nftDesc{
    width: 300px;
    letter-spacing: 3px;
    margin: 15px;
    text-align: justify;
    font-weight: 100;
}

.sendBtns{
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: -15px;
}

.send{
    border: none;
    background-color: #3e2723;
    color: antiquewhite;
    border-radius: 5px;
    height: 30px;
    width: 100px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: 700;
}

#amount{
    border-radius: 5px;
    border: none;
    height: 30px;
    padding: 5px;
}