body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{  
  ::-webkit-scrollbar {
    width: 15px;
    height: 15px;
  }
  
  ::-webkit-scrollbar-track-piece {
    background-color: #c2d2e4;
  }
  
  ::-webkit-scrollbar-thumb:vertical {
    height: 30px;
    background-color: #0a4c95;
  }
}

body {
  scrollbar-width: thin;
  scrollbar-color: #0a4c95 #c2d2e4;
}

body{
  overflow-x: hidden;
}

*{
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@font-face {
  font-family: 'WOLVES'; /* Namnet du vill ge din font */
  src: url('./Fonts/WOLVESDEMOVERSION.otf') format('truetype'); /* Sökvägen till din fontfil */
  font-weight: normal; /* Vikt och stilinställningar om tillämpligt */
  font-style: normal;
}